@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0%;
    padding: 0%
}
/*section-1 starts here*/

.section-1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F1C0C;
    position: sticky;
    top: 0;
    
    .section-1-1 {
        img {
            padding-left: 100px;
            padding-top: 10px;
            font-family: "Poppins", serif;
        }
    }

    .section-1-2 {

        ul{
           display: flex;
            justify-content: end;
            padding-top: 20px;
            font-family: "Poppins", serif;

            li{
                list-style: none;
                padding-top: 20px;
                font-family: "Poppins", serif;
                color: white;
                padding-right: 50px;
                &:hover {
                    cursor: pointer;
                    color: #FFEA00;
                }
            }
        }

    }
}

/* section-1 ends here */

/* section-2 starts here */

.section-2 {
    background-image: linear-gradient(rgb(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height:100vh;
    font-family: "Poppins", serif;
    .section-2-1{
        h1{
            color: white;
            padding-top: 150px;
            font-size: 60px;
            margin-right: 600px;
            line-height: 65px;
            margin-left: 85px;
            font-family: "Poppins", serif;
        }
        p{
            color: white;
            padding-top: 20px;
            padding-right: 630px;
            padding-left: 85px;
            font-family: "Poppins", serif;
            padding-bottom: 40px;
        }
    }
    .button-1{
        font-family: "Poppins", serif;
        font-weight: 400px;
        border-radius: 5px;
        border: none;
        padding:20px 40px;
        margin-left: 85px;
        background-color:#FFEA00;
        &:hover{
            cursor: pointer;
        }
    }
    .button-2{
        background-color: transparent;
        padding: 20px 30px;
        border-radius: 5px;
        color: white;
        border-color: white;
        font-family: "Poppins", serif;
    }
}

/* section-2 ends here */
 
/* section-3 starts here */
.section-3{
    font-family: "Poppins", serif;
    padding-bottom: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    .section-3-1{
        h2{
            display:flex;
            justify-content:center;
            padding-top: 70px;
            padding-bottom: 20px;
            font-size: 20px;
            font-weight: 500;
            position: relative;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: black;
                position: absolute ;
                right : 57%;
                font-weight: 900;
            }
        }
        h3{
            display:flex;
            justify-content:center;
            font-weight: 600;
            font-size: 40px;
            color:#1F1C0C;
        }
        p{
            display:flex;
            justify-content:center;
            color:#848E89;
            display: flex;
            justify-content: center;
            margin-left: 250px;
            margin-right: 150px;
            font-size: 20px;
            text-align: center;
        }
    }
    .main-div{ 
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        .div1{
            width:55%;
            
        }
        .div2{
            width :45%; 
            h3{
                display: flex;
                justify-content: center;
                font-weight: 600;
                font-size: 40px;
                padding-top:20px;
            }
            p {
                display: flex;
                justify-content:center;
                margin-left:30px;
                color:#4A483E;
                line-height:30px;
                padding-top: 20px;
                font-size: 19px;
                font-family: "Poppins", serif;
                padding-bottom: 20px;
            }
            ul{
                li{
                    list-style: none;
                    margin-left: 45px;
                    line-height: 40px;  
                }
            }
            h4{
                margin-left: 40px ;
                font-weight:600;
                font-size:40px;
                padding-top:20px;
                color:#4A483E;
            }
            h5{
                font-weight: 300;    
                margin-left: 40px;
                
            }
        }
        .div3{
            margin-left: 40px;
        }
        button{
            margin-left: 40px;
            padding: 20px 40px;
            border-radius: 5px;
        }
    }
}

/* section-3 ends here */

/* section-4 starts here */

.section-4{
    background-image: linear-gradient(rgb(0,0,0,0.9), rgba(0,0,0,0.9)), url(images/pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    font-family: "Poppins", serif;
    .section-4-1{
        h2{
            padding-top: 70px;
            font-size:20px;
            font-weight: 500;
            font-family: "Poppins", serif;
            color:white;
            display: flex;
            justify-content: center;
            position: relative;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: white;
                position: absolute ;
                right : 57%;
                font-weight: 900;
            }
        }
        h3{
            display:flex;
            justify-content: center;
            color:white;
            font-family: "Poppins", serif;
            font-size:40px;
            font-weight:600;
        }
        p{
            display:flex;
            justify-content: center;
            color:white;
            margin-left:250px;
            text-align: center;
            margin-right: 200px;
            font-family: "Poppins", serif;
            font-size:20px;
        }
    }
    .section-4-2 {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        img {
            filter:brightness(0.3);
        
        }
        .icon{
            h3{
                color: white;
            }
        }
    }
}
/* section-4 ends here */

/* section-5 starts here */

.section-5{
    .section-5-1{
        h2{
            padding-top: 70px;
            font-size:20px;
            font-weight: 500;
            font-family: "Poppins", serif;
            color:#353011;
            display: flex;
            justify-content: center;
            position:relative;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: black;
                position: absolute ;
                right : 57%;
                font-weight: 900;
            }
        }
        h3{
            display:flex;
            justify-content: center;
            color:#353011;
            font-family: "Poppins", serif;
            font-size:40px;
            font-weight:600;
        }
        p{
            display:flex;
            justify-content: center;
            color:#848E89;
            margin-left:250px;
            text-align: center;
            font-family: "Poppins", serif;
            margin-right: 200px;
            font-size:17px;
        }
    }
    .section-5-2 {
        display:flex;
        justify-content: center;
        gap: 20px;
        padding-top: 40px;
    }
    .section-5-3{
        h2{
            display:flex;
            justify-content: center;
            font-family: "Poppins", serif;
            font-weight: 300;
            font-size:20px;
            padding-top: 40px;
            color:#2F2D20;
            padding-bottom: 40px;
        }
    }
    
}

/* section-5 ends here */

/* section-6 starts here */

.section-6{
    background-image: linear-gradient(rgb(0,0,0,0.9),rgba(0,0,0,0.9)), url(images/img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:50vh;
    font-family: "Poppins", serif;
    margin-bottom: 100px;
    .section-6-1{
        h2{
            color: white;
            font-family: "Poppins", serif;
            display: flex;
            justify-content: center;
            padding-top: 230px;
            font-size: 35px;
            font-weight: 500;
         }
    }
}


/* section-6 ends here */

/* section-7 starts here */

.section-7{
    .section-7-1{
        h2{
            padding-top: 70px;
            font-size:20px;
            font-weight: 500;
            font-family: "Poppins", serif;
            color:#353011;
            display: flex;
            justify-content: center;
            position:relative;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: black;
                position: absolute ;
                right : 57%;
                font-weight: 900;
            }
        }
        h3{
            display:flex;
            justify-content: center;
            color:#353011;
            font-family: "Poppins", serif;
            font-size:40px;
            font-weight:600;
        }
    }
    .section-7-2{
        background-color: white;
        margin-top: 20px;
        border-radius: 5%;
        padding: 30px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
        img{
            padding: 20px;
            border-radius: 50%;
        }
        h2{
            display: flex;
            justify-content: center;
            font-family: "Poppins", serif;
            font-weight: 200px;
            padding-top: 5px;
            color: #1F1C0C;
         }
         h3{
            display: flex;
            justify-content: center;
            font-family: "Poppins", serif;
            font-size: 12px;
            padding-top: 4px;
            color: #55534A;
        }
    }
    .section-7-3{
        display: flex;
        justify-content: space-around;
    }
}

/* section-7 ends here */

/* section-8 starts here */

.section-8 {
    .section-8-1{
        h2{
            padding-top: 70px;
            font-size:20px;
            font-weight: 500;
            font-family: "Poppins", serif;
            color:#353011;
            display: flex;
            justify-content: center;
            position: relative;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: black;
                position: absolute ;
                right : 57%;
                font-weight: 900;
            }
        } 
        h3{
            display:flex;
            justify-content: center;
            color:#353011;
            font-family: "Poppins", serif;
            font-size:40px;
            font-weight:600;
        }
        p{
            display:flex;
            justify-content: center;
            color:#848E89;
            margin-left:250px;
            text-align: center;
            font-family: "Poppins", serif;
            margin-right: 200px;
            font-size:17px;
        }
    }
    .section-8-2 {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        .img {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            bottom: 40px;
            padding-top: 40px;
            h2{
                background-color: gray;
                margin-left: 70px;
                margin-right: 70px;
                position: absolute;
            }
            p{
                padding: 15px;
                font-size: 14px;
                color: #333;
                position: relative;
            }
        }
    }
}

/* section-8 ends here */

/* section-9 starts here */

.section-9{
    .section-9-1{
        h2{
            padding-top: 70px;
            font-size:20px;
            font-weight: 500;
            font-family: "Poppins", serif;
            color:#1F1C0C;
            display: flex;
            justify-content: center;
            position: relative;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: black;
                position: absolute ;
                right : 57%;
                font-weight: 900;
            }
        }
        h3{
            display:flex;
            justify-content: center;
            color:#1F1C0C;
            font-family: "Poppins", serif;
            font-size:40px;
            font-weight:600;
        }
        p{
            display:flex;
            justify-content: center;
            color:#4A483E;
            margin-left:250px;
            text-align: center;
            margin-right: 200px;
            font-family: "Poppins", serif;
            font-size:20px;
        }
    }
    .section-9-2 {
        display : flex;
        justify-content: space-around;
        padding: 40px;
        font-family: "Poppins", serif;
        gap: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: left;
        h2{
            font-weight: 600;
            padding-top: 10px;
            color:#1F1C0C;
        }
        p{
            color: rgb(54, 48, 48);
            padding-top: 10px;
        }
        h3{
            color:#1F1C0C;
            padding-top: 10px;
        }
    }
}

/* section-9 ends here */

/* section-10 starts here */

.section-10{
    background-color: #1F1C0C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:60vh;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: space-around;
    color: white;
    padding-top: 100px;
    position: relative;
    .section-10-1{
        width: 25%;
        margin-left: 90px;
        p{
            margin-right: 50px;
            padding-top: 10px;
        }
        h2{
            color:#FFEA00;
            padding-top: 10px;
            font-weight: 200px;
            .heading::before{
                content: '';
                width: 3px;
                height:25px;
                background-color: #FFEA00;
                position: absolute ;
                left : 6.5%;
                font-weight: 900;  
            }
        }
    }
    .section-10-2{
        width: 25%;
        line-height: 40px;
        .heading::before{
            content: '';
            width: 3px;
            height:25px;
            background-color: #FFEA00;
            position: absolute ;
            right : 70%;
            font-weight: 900;  
        }
    }
    .section-10-3{
        width: 25%;
        line-height: 40px;
        .heading::before{
            content: '';
            width: 3px;
            height:25px;
            background-color: #FFEA00;
            position: absolute ;
            right: 47%;
            font-weight: 900;  
        }
    }
    .section-10-4{
        width: 25%;
        line-height:40px;
        .heading::before{
            content: '';
            width: 3px;
            height:25px;
            background-color: #FFEA00;
            position: absolute ;
            right: 24%;
            font-weight: 900;  
        }
    }
}

/* section-10 ends here */

/* section-11 starts here */

.section-11{
    background-color: #1F1C0C;
    height: 20vh;
    padding-top: 40px;
    .section-11-1{
        ul{
            display: flex;
            color: white; 
            list-style : none;
            font-family: "Poppins", serif;
            gap: 20px;
        }
    }
    .section-11-2{
        h2{
            display: flex;
            justify-content: end;
            color: white;
            font-family: "Poppins", serif;
        }
    }
    .section-11-3{
        display: flex;
        justify-content: space-around;
    }
}

/* section-11 ends here */